<div class="{{ 'job block ' ~ cssClass|default|trim }}" itemscope itemtype="http://schema.org/JobPosting">
    <h1 itemprop="name">{{ title }}</h1>

    <div class="ce_text block" itemprop="description">
        {{ description|raw }}
    </div>

    {{ content|default|raw }}
</div>